<select class="form-select">
  <option>Select HS</option>
  </select>
<select class="form-select">
    <option>Select Country</option>
</select>

<table class="table table-bordered ">
    <thead class="headert">
      <tr>
        <th (click)="sort('provincia')">provincia&nbsp;<i class="fa fa-sort"></i></th>
        <th (click)="sort('ano')">año&nbsp;<i class="fa fa-sort"></i></th>
        <th (click)="sort('euros')">euros(€)&nbsp;<i class="fa fa-sort"></i></th>
        <th (click)="sort('dolares')">dolares($)&nbsp;<i class="fa fa-sort"></i></th>
        <th (click)="sort('kilogramos')">kilogramos&nbsp;<i class="fa fa-sort"></i></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let imp of imports | orderBy: key: reverse">
        <td>{{imp.provincia}}</td>
        <td>{{imp.ano}}</td>
        <td>{{imp.euros}}</td>
        <td>{{imp.dolares}}</td>
        <td>{{imp.kilogramos}}</td>
      </tr>

    </tbody>
  </table>
